.addtask {
    margin: 5px;
}

.addtask-taskinput {
    width: 40%;
    height: 25px;
    margin: 5px;
    font-size: 14px;
}

.addtask-button {
    width: 60px;
    height: 30px;
    margin: 5px;
    font-size: 14px;
}

.addtask-datePicker {
    height: 27px;
}
